<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.countit.cordova.healthkit"
        version="0.1.0">

  <name>HealthKit</name>

  <description>
    Interact with the iOS8 HealthKit SDK
  </description>
  <license>MIT</license>
  <repo>https://github.com/socialworkout/HealthKit.git</repo>
  <issue>https://github.com/socialworkout/HealthKit/issues</issue>


  <engines>
    <engine name="cordova" version=">=4.1.2"/>
  </engines>

  <js-module src="www/health_kit.js" name="HealthKit">
    <clobbers target="countit.healthkit" />
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="HealthKit">
        <param name="ios-package" value="HealthKit"/>
      </feature>
    </config-file>

    <header-file src="src/ios/HKHealthStore+AAPLExtensions.h"/>
    <source-file src="src/ios/HKHealthStore+AAPLExtensions.m"/>
    <header-file src="src/ios/HealthKit.h"/>
    <source-file src="src/ios/HealthKit.m"/>

    <framework src="HealthKit.framework" weak="true" />
  </platform>

</plugin>
